<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/067436ed-b996-4536-a0f9-21b5152420ef/resourceGroups/SpaceStation-RG/providers/Microsoft.Web/sites/station-ai-api</ResourceId>
    <ResourceGroup>SpaceStation-RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://station-ai-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e29b7cc4-2bfd-9cfd-a6bc-e0a41aa4da79</ProjectGuid>
    <PublishUrl>https://station-ai-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$station-ai-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>